@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.left, .right {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
	font-weight: 900;
	color: #F9FAF8;
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
	color: #E5E7EB;
	font-weight: normal;
}

.hero-maintext {
    font-size: 48px;
	font-weight: 900;
	color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
	color: #E5E7EB;
}

button {
    background-color: #3882F6;
	color: white;
	font-weight: bold;
	border-radius: 8px;
	padding: 8px 24px;
    border: none;
    font-size: 18px;
    align-self: flex-start;
}

.hero-image {
    background-color: gray;
    color: #F9FAF8;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 100px;
    gap: 16px;
}

.hero {
    display: flex;
    align-items: center;
    padding: 80px 240px;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px;
}

.features-header {
    font-size: 36px;
	font-weight: 900;
	color: #1F2937;
    text-align: center;
    margin-bottom: 48px;
}

.features-image {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 12px;
    background-color: white;
    color: gray;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.features-subtext {
    color: #1F2937;
    font-size: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
    gap: 8px;
}

.features-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    padding: 50px 200px;
    gap: 50px;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
	font-style: italic;
	color: #1F2937;
    max-width: 800px;
    text-align: left;
}

.author {
    font-weight: bold;
	text-align: right;
    align-self: flex-end;
    margin-right: 100px;
}

.cta-container {
    background-color: #3882F6;
}

.cta-text, p {
    color: #F9FAF8;
}

.footer {
    color: #E5E7EB;
	font-size: 14px;
	text-align: center;
}